IRAIL_BASE_URL=https://api.irail.be/v1
IRAIL_USER_AGENT=irail-ingestion/0.1 (https://github.com/sanneau/irail-ingestion; anneausimon@gmail.com)
IRAIL_STATION_IDS=BE.NMBS.008813003,BE.NMBS.008892007
IRAIL_DATA_DIR=data/raw
IRAIL_TIMEOUT_S=10